{% extends 'base.html' %}

{% block content %}
    {% for calendar in calendars %}
        <div class="card">
            <div class="card-header">
                <a href='/calendars/{{ calendar.id }}'>{{ calendar.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}