{% extends 'base.html' %}
{% load custom_tags %}
{% load tz %}

{% block title %} {{ calendar.name }} - Rooster Calendar {% endblock %}

{% block content %}



<div class="container" style="margin-top:30px">
    <div class="row">
    <h2> Hosts </h2> 
    </div>
    {% for host in hosts %}
        <div class="card">
            {% comment %} <h5 class="card-header">{{ event.name }}</h5> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ host.name }}</h5>
                {% comment %} <h6 class="card-subtitle mb-2 text-muted">{{ event.start|localtime }} - {{ event.end }}</h6>
                <p class="card-text">{{ event.description|safe }}</p>

                <a class="card-link" href={{ event|google_event }}>Add to Google Calendar</a>
                <a href="{% url 'eventics' name=host.name event_id=event.id %}" class="card-link">Download to ICS (iCal, Outlook)</a>
                <a href="#" class="card-link">Add to Rooster Calendar</a> {% endcomment %}
            </div>

        </div>
    {% endfor %}
    <div class="row">
    <h2> Events </h2> 
    </div>
    {% for event in events %}
        <div class="card">
            {% comment %} <h5 class="card-header">{{ event.name }}</h5> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                {% comment %} <h6 class="card-subtitle mb-2 text-muted">{{ event.start|localtime }} - {{ event.end }}</h6>
                <p class="card-text">{{ event.description|safe }}</p>

                <a class="card-link" href={{ event|google_event }}>Add to Google Calendar</a>
                <a href="{% url 'eventics' name=host.name event_id=event.id %}" class="card-link">Download to ICS (iCal, Outlook)</a>
                <a href="#" class="card-link">Add to Rooster Calendar</a> {% endcomment %}
            </div>

        </div>

    {% endfor %}
</div>

{% endblock %}