{% extends 'base.html' %}
{% load socialaccount %}
{% load account %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}


<link href="{% static 'calendarapp/fullcalendar/fullcalendar.min.css'%}" rel='stylesheet'/>
<link href="{% static 'calendarapp/fullcalendar/fullcalendar.print.css'%}" rel='stylesheet' media='print'/>
<link rel='stylesheet' href="https://fullcalendar.io/releases/fullcalendar/3.10.0/fullcalendar.min.css">

<script src= "{% static 'calendarapp/fullcalendar/lib/moment.min.js'%}"></script>
<script src= "{% static 'calendarapp/fullcalendar/lib/jquery.min.js'%}"></script>
<script src= "{% static 'calendarapp/fullcalendar/fullcalendar.min.js'%}"></script>

<link href="{% static 'calendarapp/css/home.css'%}" rel='stylesheet'/>





{% endblock %}
{% block javascript %}
{% if user.is_authenticated %}
<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
            themeSystem: 'bootstrap4',
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listMonth'
			},
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in event %}
                {
                    title: "{{ i.name}}",
                    start: '{{ i.start|date:"c" }}',
                    end: '{{ i.end|date:"c" }}',
                    url: "{% url 'event' name=i.host.name event_id=i.id %}",
                },
                {% endfor %}
            ]
        });

    });

</script>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
        <div class="row">
            <div class="col-7">
                <div id='calendar'></div>
            </div>
            <div class="col-5">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab">Events</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-2" role="tab">Hosts</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-3" role="tab">Collection</a></li>
                </ul>
                <div class="card card-tabs-1">
                    <div class="card-block">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-1">
                                {% for i in user.calendar.events.all %}
                                    <div class="card" style="margin-top:10px">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <a href={% url 'event' name=i.host.name event_id=i.id %}> {{ i.name }} </a>
                                                    <p class="small"> 
                                                        Start: {{ i.start }} <br>
                                                        End: {{ i.end }} 
                                                    </p>
                                                </div>
                                                <div>
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" name="unfollowevent" class="btn-sm btn-primary" value={{ i.id }}> Remove
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}                                
                            </div>
                            <div class="tab-pane" id="tab-2">
                                {% for i in user.calendar.hosts.all %}
                                    <div class="card" style="margin-top:10px">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <a href={% url "host" name=i.name %}>{{ i.name }}</a> 
                                                </div>
                                                <div>
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" name="unfollowhost" class="btn-sm btn-primary" value={{ i.id }}> Remove
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <h4 class="card-title">Tab 3</h4>
                                <p class="card-text">Odio, facilis, vel eum nam architecto maxime consequuntur consectetur et qui
                                    eveniet alias minus provident suscipit delectus odit cupiditate similique fuga vero!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary" href="https://calendar.google.com/calendar/r?cid={{ request.scheme }}://{{ request.get_host }}{% url 'calendarics' username=user.username %}"> Add Calendar to Google</a>
                    <a class="btn btn-primary" href="{% url 'calendarics' username=user.username %}"> Download ICS for iCal/Outlook</a> 
                </div>               
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
{% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">login</a> | <a href="{% url 'account_signup' %}">signup</a> | <a href="{% provider_login_url 'google' %}">Log In with Gmail</a>
<div class="g-signin2" data-onsuccess="onSignIn"></div>

{% endif %}
{% endblock %}