{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'calendarapp/css/hosts.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <div class="card" id="panel">
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <input class="form-control" id="search" name="search" type="text" placeholder="Search Events, Hosts, ...">
                    <span>
                    {% for tag in tags.all %}
                        <button type="submit" name="tags" class="badge badge-pill badge-primary" value={{ tag.name }}>
                        {{ tag.name }}</button>
                    {% endfor %}
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card" id="panel">
            <div class="card-body scroll">
                <div class="card-columns">
                    {% for host in hosts %}
                    <div class="card">
                        <div class="card-header">
                            <a href='/hosts/{{ host.name }}'>{{ host.name }}</a>
                        </div>
                        <img class="card-img-top" src="//logo.clearbit.com/{{ host.website }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}/stocks.jpg'" alt="Card image cap" />

                        <div class="card-body">
                            <p> {{ host.subname }} <p>
                            <p>
                                {{ host.description|truncatechars:100 }}
                            </p>
                            <p class="card-text"><small class="text-muted">
                            {% for tag in host.tags.all %}
                                {{ tag.name }}
                            {% endfor %}
                            </small></p>
                        </div>
                    </div>
                    {% endfor %}  
                </div>  
            </div>
            <div class="card-footer">
                {% if hosts.has_other_pages %}
                    <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm float-right">
                            {% if hosts.has_previous %}
                                <li class="page-item"><a class="page-link" href="/hosts?page={{ hosts.previous_page_number }}">&laquo;</a></li>
                                {% comment %} <li class="page-item">
                                    <a class="page-link" href="/hosts?page={{ page_obj.previous_page_number }}>{{ page_obj.previous_page_number }}</a>
                                </li> {% endcomment %}
                            {% endif %}

                            <li class="page-item disabled">
                                <a class="page-link">{{ hosts.number}} of {{ hosts.paginator.num_pages }}</a>
                            </li>
                            {% if hosts.has_next %}
                                {% comment %} <li class="page-item">
                                    <a class="page-link">{{ page_obj.next_page_number }}</a>
                                </li> {% endcomment %}
                                <li class="page-item"><a class="page-link" href="/hosts?page={{ hosts.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                    </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}