{% extends 'base.html' %}
{% load custom_tags %}
{% load tz %}
{% load static %}
{% load socialaccount %}

{% load account %}


{% block title %} {{ host.name }} - Rooster Calendar {% endblock %}

{% block javascript %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'calendarapp/css/host.css' %}">
{% endblock %}


{% block content %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" src="//logo.clearbit.com/{{ host.website }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}/stocks.jpg'" alt="Card image cap" />

        <p>
            {{ host.description }}
        </p>

        </div>
        <div class="col-8">
        <h1>{{ host.name }}</h1> 
        <h2>{{ host.subname }}</h2>

        {% if user.is_authenticated %}
            {% if host in user.calendar.hosts.all %}
                <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-default" name="followhost">Unfollow Host Events</button>
                </form>
            {% else %}
                <form action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-default" name="followhost">Follow Host Events</button>
                </form>
            {% endif %}
        {% else %}
            <a class="btn btn-default" href="{% url 'account_signup' %}">Follow Host Events</a>
        {% endif %}
                {% for event in events %}
                    <div class="card">
                        {% comment %} <h5 class="card-header">{{ event.name }}</h5> {% endcomment %}
                        <div class="card-body">
                            <a href="{% url 'event' name=host.name event_id=event.id %}"><h5 class="card-title">{{ event.name }}</h5><a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ event.start|localtime }} - {{ event.end }}</h6>
                            <p class="card-text">{{ event.description|safe }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row">
                            {% comment %} <span class="text-center"> {% endcomment %}
                                <button class="btn-sm btn-primary" href={{ event|google_event }}>Add to Google Calendar</button>
                                <button class="btn-sm btn-danger" href="{% url 'eventics' name=host.name event_id=event.id %}" >Download to ICS (iCal)</button>
                                {% if user.is_authenticated %}
                                    {% if event in user.calendar.events.all %}
                                        <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-sm btn-success" name="followevent" value="{{ event.id }}">Remove Event from Calendar</button>
                                        </form>
                                    {% else %}
                                        <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-sm btn-success" name="followevent" value="{{ event.id }}">Add Event from Calendar</button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <button class="btn-sm btn-success" href="{% url 'account_signup' %}">Add Event to Calendar</button>
                                {% endif %}
                            {% comment %} </span> {% endcomment %}
                            </div>
                        </div>
                    </div>


                {% endfor %}
            </div>
        </div>



    </div>



</div>


{% endblock %}