<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>
<head>
<meta charset='utf-8' />

<link href="{% static 'calendarme/fullcalendar.min.css'%}" rel='stylesheet'/>
<link href="{% static 'calendarme/fullcalendar.print.css'%}" rel='stylesheet' media='print'/>

<script src= "{% static 'calendarme/lib/moment.min.js'%}"></script>
<script src= "{% static 'calendarme/lib/jquery.min.js'%}"></script>
<script src= "{% static 'calendarme/fullcalendar.min.js'%}"></script>

<script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
            defaultDate: '2019-01-01',
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for i in event %}
                {
                    title: "{{ i.name}}",
                    start: '{{ i.start|date:"c" }}',
                    end: '{{ i.end|date:"c" }}',
                },
                {% endfor %}
            ]
        });

    });

</script>

<style>

	body {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 1000px;
		margin: 40px auto;
		padding: 0 10px;
	}

</style>
</head>
<body>

	<div id='script-warning'>
		Error getting data from STUPID<code>/data</code> endpoint.
	</div>

	<div id='loading'>loading...</div>

	<div id='calendar'></div>

</body>
</html>
