{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}

<script src= "{% static 'calendarapp/fullcalendar/lib/moment.min.js'%}"></script>
<script src= "{% static 'calendarapp/fullcalendar/lib/jquery.min.js'%}"></script>
<script src= "{% static 'calendarapp/fullcalendar/fullcalendar.min.js'%}"></script>

<link href="{% static 'calendarapp/css/start.css'%}" rel='stylesheet'/>

<script src="{% static 'calendarapp/scrollify/jquery-3.2.1.js' %}"></script>
<script src="{% static 'calendarapp/scrollify/jquery.scrollify.js' %}"></script>

<script>
    $(function () {
        $.scrollify({
            section: ".section-part",
        });
    });
</script>


{% endblock %}
{% block content %}
<div class="section-part">
    <h1> Calenfeed </h1>
    <h2> Calendar Database and ICS Feed </h2>
</div>
<div class="section-part">
    <h1> Feeds for your Needs </h1>
    <h2> Earnings Reports </h2>
</div>

{% endblock %}
