#left-area {

    height: 100%;
}

#right-area {
    /* background-color: white; */
    height: 100%
}

body,
html {
    /* margin: 0; */
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #4caf50, #e8f5e9);
}

.row { 
    margin-top: 10%;
}