.navbar-nav>li {
    /* padding-left: 30px; */
    margin-left: 10px;
    margin-right: 10px;
}

.btn-default {
    color: #FFFFFF;
    background-color: #539953;
    border-color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #FFFFFF;
    background-color: #5F992F;
    border-color: #FFFFFF;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #539953;
    border-color: #FFFFFF;
}

.btn-default .badge {
    color: #539953;
    background-color: #FFFFFF;
}

html,
body {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

body { 
    overflow: hidden;
    height: 100vh;
}

.container-fluid{
    padding-top: 5%;
}