#calendar {
    /* margin: 40px auto; */
}

h2 {
    font-size: 16px;
    margin-top: 40px;
}

.row{
    /* padding-top: 5%; */
}

.scroll {
    /* max-height: 300px; */
    height: 200px;
    /* max-height:  */
    overflow-y: auto;
}


.card-tabs-1 {
    /* z-index: -1; */
    /* margin-top: -1px; */
    height: 90%;
    max-height: 60vh;
    overflow-y: auto;
    border-top: 0px;
    border-radius: 0;
}

.tab-content{
    margin: 10px;
}

.bottom{
    position: absolute;
    /* text-align: center; */
    bottom:0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
    /* margin-bottom: 10px; */
}