.card {
    /* margin: 25px; */
    /* border: 1px; */
}

.scroll {
    overflow-y: auto;
}

#search{
    margin-bottom: 10px;
}

#panel{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 90vh;
}