.section-part {
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

h1 {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 65px;
    color: black;
}