{% extends "base.html" %}
{% load static %}


{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'calendarapp/css/search.css' %}">
{% endblock %}

{% block content %}
    <h1> Search Results </h1>
    <div class="row">
        <div class="col-4">
            <h2> Collections </h2>
            <hr>
            <div class="scroll">
            {% for host in hosts %}
                <div class="card">
                    <div class="card-body">
                    <a href="{% url 'host' name=host.name %}"><h5>{{ host.name }}</h5><a><br>    
                    </div>    
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <h2> Hosts </h2>
            <hr>
            <div class="scroll">
            {% for host in hosts %}
                <div class="card">
                    <div class="card-body">
                    <a href="{% url 'host' name=host.name %}"><h5>{{ host.name }}</h5><a><br>    
                    </div>    
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <h2> Events </h2>
            <hr>        
            <div class="scroll">
            {% for event in events %}
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'event' name=event.host.name event_id=event.id %}"><h5>{{ event.name }}</h5><a><br>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}