{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'calendarapp/css/allauth.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6" id="left-area">
        <h1> Calenfeed </h1>
        <h2> Calendar Feeds For Your Everyday </h2>
    </div>
    <div class="col-6" id="right-area">
        <div class="justify-content-center align-items-center">
            {% block extracontent %}

            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}