<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Calenfeedr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

  <link rel="stylesheet" href="{% static 'calendarapp/css/base.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  {% block extra_head %}
  {% endblock %}

</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Calenfeeder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'discover' %}">Discover Events</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{% url 'collections' %}">Collection</a>
        </li> {% endcomment %}
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        {% comment %} <li class="nav-item">
        <form class="search" action="{% url 'search' %}" method='post'>
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search Events, Hosts..." name="usr_query" 
                value='{{ query }}'>
          </form>
        </li> {% endcomment %}


        {% if user.is_authenticated %}
        
        <li class="btn-group nav-item dropdown">

        
          <button class="btn">Profile</button>
          <button class="btn dropdown-toggle dropdown-toggle dropdown-toggle-split" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'home' %}">My Events</a>
            <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
        </li>

        {% endif %}
      </ul>




        {% comment %} <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}
    </div>
  </nav>
  <div class="container-fluid">
    {% block content %}

    {% endblock %}
  </div>
  {% comment %} <div class="jumbotron text-center fixed-bottom" style="margin-bottom:0">
    <p>Footer</p>
  </div> {% endcomment %}
{% comment %} <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> {% endcomment %}
<script src="{% static 'js/app.js' %}"></script> 
{% block javascript %}{% endblock %}
</body>

</html>
